@font-face {
  font-family: 'Newake';
  src: url('./../../fonts/Newake.otf') format('opentype');
}

@font-face {
  font-family: 'Founders-Grotesk-light';
  src: url('./../../fonts/FoundersGroteskLight.otf') format('opentype');
}

@font-face {
  font-family: 'Founders-Grotesk-medium';
  src: url('./../../fonts/FoundersGroteskMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Founders-Grotesk-regular';
  src: url('./../../fonts/FoundersGroteskRegular.otf') format('opentype');
}

#app {
  display: flex;
  flex-direction: column;
}



body {
  margin: 0;
  padding: 0;
}