@font-face {
  font-family: 'Newake';
  src: url('./../../fonts/Newake.otf') format('opentype');
}

@font-face {
  font-family: 'OpenSans';
  src: url('./../../fonts/OpenSans.ttf') format('truetype');
}