.hero-background {
    background-image: url('./../../img/HOMEPAGE_BACKGROUND.png');
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Newake';
}

#hero {
    padding-top: 159px;
}

#hero-cards {
    margin-bottom: 50px;
}